.card-header{
    font-size: 1.3em!important;
}

.card-bajada{
    font-size: 1em!important;
}

.flex{
    display: flex !important;
    justify-content: flex-end !important;
    margin: 0 !important;
    padding: 0  10px 0 0 !important;
}

.cardContent{
    padding: 16px 22px 0 22px !important;
}

.movie-img{
    height: 150px !important;
}

.MuiButton-textSizeSmall {
    font-size: 0.7rem!important;
}