.filter{
    background-color: #FAFCFC;
    color: #5F6D74;
    width:75%;
}

.divide{
    display: flex;
}

#mainContent:focus{
    outline: 3px solid red;
}

.bajadas{
    font-size: 0.7em!important;
}

.dias .MuiFormControlLabel-label{
    font-size: 1em;
}

.p-aside{
    font-weight: 600;
    color:#5F6D74!important;
}

.MuiFab-root{
    box-shadow:none!important;
    width: 1.2em;
    height: 1.2em;
    z-index: 1;
    font-size: 1rem;
}

.MuiFab-label{
    text-align: center;
    position: absolute;
}

.aside-subtotal-off{
    color:#a5b0b5!important;
}

.aside-subtotal-off-1{
    text-align: right!important;
    width: 195px!important;
    color:#a5b0b5!important;
}

.MuiInputBase-inputAdornedEnd{
    display: none!important;
}

.MuiGrid-justify-xs-space-around{
    display: inline;
}

.MuiFormControl-marginNormal{
    margin-top: 60px;
}

.zona-butacas{
    display: flex!important;
    margin-top:35px;
}

.h2-zonas{
    margin-right:20px!important;
}

.p-referencia{
    font-size: 0.9em!important;
    font-weight: 500!important;
    line-height: 1.7!important;
}