#Adultos, #Niños, #Jubilados{
    width: 25px !important;
    text-align: center !important;
    margin-top: -5px;
    margin-left: -5px;
}

.MuiInput-underline:after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: initial !important;
    transform: none !important;
    transition: initial !important;
    border-bottom: 0 !important;
    pointer-events: none;
}

.MuiInput-underline:before {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: initial !important;
    transform: none !important;
    transition: initial !important;
    border-bottom: 0 !important;
    pointer-events: none;
}

.label-contador{
    color: #5F6D74;
    font-size: 1em;
    font-weight: bold;
    padding-right: 9px;
    margin-right: 0;
}

.cuantos-adultos .label-contador{
    margin-right: 46px!important;
}

.label-contador-jubilados{
    margin-right: 0px!important;
}

.bajada-ninos{
    margin-right: 130px;
}

.bajada-jubilados{
    margin-right: 100px;
}

.cuantos-adultos{
    margin-left:0!important;
}

.h2-filter1{
    margin-top:35px;
}

.butones-2{
    display: inline-flex;
    flex-direction: row;
}

.counter-container{
    margin: 24px 10px 24px 24px;
    background-color: white;
    padding: 20px 10px 0px 10px;
    border-radius: 8px;
    height: 70px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 210px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, .1);
    justify-content: space-between;
}

.counterBajada{
    margin-top: 0px;
}