.butones-1{
    display: flex;
    flex-direction: column;
    margin: 24px 10px 24px 24px;
    background-color: white;
    padding: 10px 10px 0px 10px;
    border-radius: 8px;
    height: 80px;
    width: 210px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, .1);
}


.myRadioGroup{
    display:inline-flex !important;
    flex-direction: row !important;
    margin-left: -25px;
}

.myRadioGroup-block{
    display: block !important;
}

.MuiFormControlLabel-labelPlacementStart {
    margin: 0 !important;
}