.tarjetas-credito {
  width: 106px;
  height: 22px;
}

.container{
    width: 100%;
    z-index: 1;
  }
  .progressbar li{
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
  }

  .progressbar li:before{
    content: "\2219";
    width: 30px;
    height: 30px;
  }

  .progressbar li:before{
    content: "\2022";
    width: 30px;
    height: 30px;
    border: 2px solid #5E50B5;
    display: block;
    margin: 0px 26px 6px 10px;
    border-radius: 50%;
    line-height: 27px;
    background: white;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    background-color: #5E50B5;
    box-shadow: 2px 3px 6px rgba(0,0,0,0.3);
  }

  .progressbar li:after{
    content: '';
    position: absolute;
    width: 300%;
    top: 16px;
    left: -50%;
    z-index: -1;
    border: 1px dashed #5E50B5;
  }

  .progressbar li:first-child:after{
    content: none;
    }

    .progressbar li:last-child:after{
        content: none;
    }

    .progressbar .pago-after::after{
        width: 10% !important;
        top: 16px;
        left: -50%;
        z-index: -1;
        border: 1px dashed #5E50B5;
    }

    .progressbar .butacas-after::after{
        width: 370% !important;
    }

    