.tarjetas-credito {
  width: 106px;
  height: 22px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: right;
}

.form-nom-ape, .form-direccion, .form-pais-ciudad, .form-cp-tel, .info-de-pago{
  width: 100%;
}

.form-nom-ape .MuiTextField-root{
  width: 45%;
  margin-right: 30px;
}

.form-direccion .MuiTextField-root{
  width: 93%!important;
}

.form-pais-ciudad .MuiFormControl-root{
  width: 45%;
  margin-right: 30px;
}

.form-cp-tel .MuiFormControl-root{
  width: 45%;
  margin-right: 30px;
}

.form-nom-ape, .form-direccion, .form-pais-ciudad,.form-cp-tel{
  margin-top:20px!important;
}

.info-de-pago {
  margin-top: 80px;
}

.info-de-pago h2{
  margin-bottom: 40px;
}

.white-card{
  width: 85%!important;
  height: 270px;
  padding:40px;
  border:1px solid #DDE3E8;
  border-radius: 8px;
  margin-bottom:30px;
  background:white!important;
}

.h3-tc{
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.white-card p{
  font-size: 1em;
  max-width: 634px;
  background:white;
}

.otros{
  display: inline-block;
  margin-left:20px;
}

.numero-tc .MuiTextField-root{
  width: 680px;
}

.nombre-tc .MuiTextField-root{
  width: 360px;
  margin-left:0!important;
}

.nombre-tc{
  margin-left:0!important;
}

.venc-tc .MuiTextField-root, .cvv-tc .MuiTextField-root{
  width: 140px;
}

.numero-tc{
  margin-bottom:20px;
  margin-top:20px;
}

.logo-mp{
  width: 15%;
  height: auto;
}

.white-card-mp{
  height: 100px;
}

.MuiTextField-root{
  background:white!important;
}

.butones-promos{
  height: 120px!important;
  padding: 20px 20px!important;
}