.lista{
    display: inline-flex;
    align-content: flex-end;
}

.lista li{
    list-style: none;
    padding: 0 20px;
}


footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FAFCFC; 
    padding: 15px 0;
}

.icons ul li {
    width: 20px;
}

.footer-logo{
    width: 100px;
    height: 50px;
}

.acce-link{
    color: #5e50b5!important;
}

/*.MuiTypography-root{
    margin: 15px 0!important;
}*/