.filter{
    background-color: #FAFCFC;
    color: #5F6D74;
    width:75%;
}

.divide{
    display: flex;
}

.MuiInputBase-inputSelect{
    background-color: white !important;
    border-radius: 8px !important;
}

.MuiNativeSelect-icon{
    color: #5e50b5 !important;
}

.p-aside{
    font-weight: 600;
    color:#5F6D74!important;
}

.aside-subtotal-off{
    color:#767676!important;
}

.aside-subtotal-off-1{
    text-align: right!important;
    width: 195px!important;
    color:#767676!important;
}

.radioimages{
    background-color: white;
    border-radius: 8px;
    width: 180px;
    margin: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}

.img-radio{
    height: 100px;
    border-radius: 8px 8px 0px 0px;
}

.img-butones{
    padding-left: 6px;
    padding-bottom: 6px;
}